<div class="overlay">
  <form #f="ngForm" (ngSubmit)="save()">
    <h3 class="title">
      {{ form._id ? 'Edit Member' : 'Add Member' }}
    </h3>

    <div class="input-container">
      <div class="input-left">
        <div class="input-fullname box-input">
          <label for="fullname">Full Name</label>
          <input type="text" [(ngModel)]="form.fullname" name="fullname" id="fullname" required />
          <small *ngIf="f.submitted && f.controls['fullname']?.invalid" style="color: red">
            Fullname is required
          </small>
        </div>

        <div class="input-nickname box-input">
          <label for="nickname">Nick Name</label>
          <input type="text" [(ngModel)]="form.nickname" name="nickname" id="nickname" required />
        </div>

        <div class="input-dateofbirth box-input">
          <label for="dateOfBirth">Date of Birth</label>
          <input
            type="date"
            [(ngModel)]="form.dateOfBirth"
            name="dateOfBirth"
            id="dateOfBirth"
            required
          />
          <small *ngIf="f.submitted && f.controls['dateOfBirth']?.invalid" style="color: red">
            dateOfBirth is required
          </small>
        </div>

        <div class="input-guardian box-input">
          <label for="guardian">Guardian</label>
          <input type="text" [(ngModel)]="form.guardian" name="guardian" id="guardian" required />
          <small *ngIf="f.submitted && f.controls['guardian']?.invalid" style="color: red">
            guardian is required
          </small>
        </div>

        <div class="input-whatsapp box-input">
          <label for="whatsapp">WhatsApp</label>
          <input type="text" [(ngModel)]="form.whatsapp" name="whatsapp" id="whatsapp" required />
          <small *ngIf="f.submitted && f.controls['whatsapp']?.invalid" style="color: red">
            whatsapp is required
          </small>
        </div>
      </div>
      <div class="input-right">

        <!-- AVATAR -->
        <div class="avatar-wrapper">
          <input #fileInput type="file" accept="image/*" hidden (change)="onFile($event)" />

          <div class="avatar" (click)="fileInput.click()">
            <img *ngIf="imagePreview; else noImage" [src]="imagePreview" />

            <ng-template #noImage>
              <div class="placeholder">+</div>
            </ng-template>
          </div>

          <div class="avatar-actions" *ngIf="imagePreview">
            <button type="button" (click)="fileInput.click()">Change</button>
            <button type="button" class="danger" (click)="removeImage()">Remove</button>
          </div>
        </div>


      </div>
    </div>

    <div class="btn">
      <button type="button" class="btnCancel" (click)="close.emit(false)">Cancel</button>
      <button type="submit" class="btnSave">Save</button>
    </div>
  </form>
</div>
