.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
    width: 650px;
    background-color: white;
    border-radius: 47px;
    padding: 20px 50px 50px;
}
.input-container {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}
.box-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}
label {
    font-size: var(--font-size-fc);
}
input[type="text"], input[type="date"] {
    width: 300px;
    height: 38px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    background-color: white;
    outline:none;
    font-size: var(--font-size-fc);
    padding: 10px;
}
.input-image {
    font-size: var(--font-size-fc);
}
input[type="file"] {
    width: 100%;
    border-bottom: 1px solid #5f5f5f;
    padding: 8px;
}

.btn {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btnCancel {
    width: 160px;
    height: 48px;
    background-color: #d9d9d9;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    font-size: var(--font-size-fc);
}
.btnSave {
    background-color: #0db328;
    color: white;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    width: 218px;
    height: 48px;
    font-size: var(--font-size-fc);
    font-weight: bold;
}