.card-checkin {
    background-image: url('../../../../public/bgCard.jpg');
    width: 600px;
    height: 725px;
    background-position: -510px -100px;
    background-size: 210%;
    color: white;
    box-shadow: 0 0 0px 8px #b5b5b5;
}
.active {
    display: flex;
    justify-content: end;
    padding: 12px 20px;
}
.active p {
    color: #00ff29;
}
.con-input {
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
}
.input label {
    font-size: 14px;
    font-weight: 500;
}
input[type="text"] {
    width: 141px;
    height: 34px;
    margin-top: 3px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: 800;
    padding: 0 5px;
}
.image-profile {
    width: 120px;
    height: 120px;
    margin-left: 65px;
}
.image-profile img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.con-check {
    width: 410px;
    height: 507px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
    row-gap: 9px;
    margin: auto;
    margin-top: 20px;
}
.last {
    grid-column: 2;
}
.list-check {
    width: 120px;
    height: 120px;
    background-color: #d9d9d9;
    border-radius: 50%;
}
