
  <div class="card-checkin">
    <div class="active">
      <p>active</p>
    </div>

    <div class="con-input">

      <div class="box-input">
        <div class="input-name input">
          <label for="name" class="">Name</label>
          <input type="text" name="name" id="name" readonly value="thesst" />
        </div>
        <div class="input-expiry input">
          <label for="expiry">Expiry</label>
          <input type="text" name="expiry" id="expiry" value="2025/8/5" readonly />
        </div>
      </div>

      <div class="image-profile">
        <img src="happyboy.avif" alt="profile" />
      </div>
    </div>

    <div class="con-check">
      <div class="list-check"></div>
      <div class="list-check"></div>
      <div class="list-check"></div>
      <div class="list-check"></div>
      <div class="list-check"></div>
      <div class="list-check"></div>
      <div class="list-check"></div>
      <div class="list-check"></div>
      <div class="list-check"></div>
      <div class="list-check last"></div>
    </div>
  </div>
