.container {
    display: flex;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}
.sidebar {
    height: auto;
    transition: margin-left 0.3s ease-in-out;
}
.sidebar.hidden {
    width: 0;
    border: none;
    margin-left: -250px;
}
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* ให้เนื้อหาหลัก scroll ได้ */
    background-color: #f5f6fa; /* สีพื้นหลังเพื่อให้เห็นความต่าง */
}
header {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
    background-color: white;
}
header p {
    font-size: var(--font-size-fc);
    font-weight: 700;
}
.main-content {
    width: 100%;
    background-color: var(--bg-body);
    height: 100vh;
    padding: 24px;
}


@media (max-width: 768px) {

    .sidebar {
        position: fixed;
        width: 250px;
        height: 100vh;
        left: 0;
        top: 0;
        background: white;
        z-index: 999;
        transform: translateX(0);
        transition: transform 0.3s ease;
    }

    .sidebar.hidden {
        transform: translateX(-100%);
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.4);
        z-index: 998;
    }

    .main-content {
        padding: 15px;
    }

    header {
        padding: 12px 16px;
    }
}