.container {
    display: flex;
    max-width: 100%;
    height: 100%;
}
.sidebar {
    height: auto;
    transition: margin-left 0.3s ease-in-out;
}
.sidebar.hidden {
    width: 0;
    border: none;
    margin-left: -250px;
}
.main {
    width: 100%;
    height: auto;
    background-color: red;
}
header {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
    background-color: white;
}
header p {
    font-size: var(--font-size-fc);
    font-weight: 700;
}
.main-content {
    width: 100%;
    background-color: var(--bg-body);
    height: 100vh;
    padding: 24px;
}