<div class="container">
  <header>
    <h2 class="title-member">Members: <span class="member-number">({{activeMembers}} / {{totalMembers}})</span></h2>
    <div class="search">
      <i class="pi pi-search icon-search"></i>
      <input type="text" 
      placeholder="Search..."
      [(ngModel)]="searchText"
      (input)="filterMembers()"
      />
    </div>
    <a class="btn-new-member" (click)="openAdd()">
      <i class="pi pi-plus-circle icon-newmember"></i>
      New Member
    </a>
  </header>

  <div class="data-member">
    <table class="table-member">
      <thead>
        <tr class="header-data">
          <th>Account</th>
          <th>Guardian</th>
          <th (click)="sortByDate()" class="sort">Date of birth <i class="pi pi-sort-alt"></i></th>
          <th (click)="sortByU()"  class="sort">U <i class="pi pi-sort-alt"></i></th>
          <th>Phone</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="data">
        <tr *ngFor="let list of members">
          <td class="profile">
            <div class="image-profile"><img *ngIf="list.image" [src]="'http://localhost:3000' + list.image" alt="profile" /></div>
            <div class="name">
              <p class="fullname">{{ list.fullname }}</p>
              <p class="nickname">{{ list.nickname }}</p>
            </div>
          </td>
          <td>{{ list.guardian }}</td>
          <td>{{ list.dateOfBirth | date: 'yyyy-MM-dd' }}</td>
          <td>{{ list.ageGroup }}</td>
          <td>{{ list.whatsapp }}</td>
          <td>
            <p-toggleswitch
              [(ngModel)]="list.status"
              (onChange)="toggleStatus(list)"
              [trueValue]="true"
              [falseValue]="false"
            >
            </p-toggleswitch>

            <span class="status-text" [class.active]="list.status" [class.inactive]="!list.status">
              {{ list.status ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td>
            <i class="pi pi-pencil" title="edit" (click)="openEdit(list)"></i>
            <i class="pi pi-trash" title="delete" (click)="delete(list._id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
  <div class="showing">
    Showing {{ startItem }}-{{ endItem }} of {{ totalMembers }}
  </div>

  <div class="pre-next">
    <button
      class="btn-pre"
      (click)="prevPage()"
      [disabled]="currentPage === 1">
      <i class="pi pi-angle-left"></i>
    </button>

    <button
      class="btn-next"
      (click)="nextPage()"
      [disabled]="currentPage * pageSize >= totalMembers">
      <i class="pi pi-angle-right"></i>
    </button>
  </div>
</div>

</div>

<app-add-member *ngIf="showPopup" [data]="editData" (close)="closePopup($event)"> </app-add-member>
