<div class="container">
  <div class="box-event">

    <!-- HEADER -->
    <header>

      <div class="pre-title">
        <a routerLink="/events">
          <i class="pi pi-angle-left"></i>
        </a>
      </div>

      <div class="search">
        <i class="pi pi-search icon-search"></i>
        <input
          type="text"
          placeholder="Search members..."
          [(ngModel)]="searchText"
          (input)="filterMembers()"
        />
      </div>

    </header>

    <!-- CONTENT -->
    <div class="content-con">

      <!-- CLUB MEMBERS -->
      <div class="content">

        <div class="title-member">
          <p>Club Members:</p>
          <span class="memberofall">
            ({{activeMembers}}/{{totalMembers}})
          </span>
        </div>

        <div class="list-member">

          <div
            class="member"
            *ngFor="let m of filteredMembers"
            (click)="open(m)"
          >
            <img
              *ngIf="m.image"
              [src]="'http://localhost:3000' + m.image"
            />
            <p>{{ m.fullname }}</p>
          </div>

        </div>

      </div>

      <!-- PARTICIPANTS -->
      <div class="content">

        <div class="title-parti">
          <h2>Participants</h2>

          <p class="roster">
            Roster: {{participants.length}}/{{session?.maxPlayers}}
          </p>
        </div>

        <div class="list-member">

          <div
            class="member"
            *ngFor="let p of participants"
          >
            <img
              *ngIf="p.image"
              [src]="'http://localhost:3000' + p.image"
            />
            <p>{{ p.fullname }}</p>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
