.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    position: fixed;
}

form {
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 30px;
}
form h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}
form label {
    font-size: 16px;
}
input {
    width: 300px;
    height: 38px;
    padding: 10px;
    border: 1px solid rgb(211,211,211);
    border-radius: 4px;
    outline: none;
    font-size: var(--font-size-fc);
}
.box-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}
input::placeholder, :host ::ng-deep .p-datepicker-input::placeholder {
    font-size: 12px;
    opacity: 0.7;
}

.btn-con {
     display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.btn-close, .btn-save {
    width: 160px;
    height: 48px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    font-size: var(--font-size-fc);
}
.btn-close {
    background-color: #d9d9d9;
    color: black;
}
.btn-save {
    background-color: #0db328;
    color: white;
}