.container {
     max-width: 100%;
     background-color: var(--bg-body);
     height: 100vh;
     /* filter: grayscale(100%) brightness(0.7); */
}
header {
     display: flex;
     justify-content: end;
     align-items: center;
     padding: 33px;
     gap: 33px;
}

header a {
     font-size: var(--font-size-fc);
}
.sign-out {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}
.link-event {
     font-weight: bold;
}
.link-sign-out {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
}
.link-event:hover, .link-sign-out:hover {
     text-decoration: underline;
     cursor: pointer;
}

.app-card {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     background-color: var(--bg-body);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(100, 100, 100, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.renew {
  pointer-events: auto;
  padding: 30px 105px;
  font-size: 18px;
  background: #293690;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}