.container {
    background-color: white;
    padding: 24px 15px;
    border-radius: 15px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

/* Search */
.search {
    width: 332px;
    height: 40px;
    position: relative;
}
.icon-search {
    position: absolute;
    top:50%;
    transform: translateY(-60%);
    left: 15px;
    color: #484848;
}
.search input[type="text"] {
    width: 100%;
    height: 100%;
    background-color: #F5F6FA;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
    padding: 0 40px;
    outline: none;
}
.search input[type="text"]:focus {
    outline: 1px solid #b1b1b1;
}
/*  */
.content {
    border: 1px solid #b7b7b7;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
}
.club-member {
    overflow: scroll;
    max-height: 700px;
}
.title {
    display: flex;
    align-items: center;
    gap: 20px;
}
.title h2 {
    font-size: var(--font-size-fc);
    font-weight: bold;
}
.title p {
    font-size: 14px;
}

.list-member {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    gap: 10px;
    margin-top: 24px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 60px;
    height: 90px;
}
.image-profile {
    width: 50px;
    height: 50px;
}
.list-member img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.list-member p {
    font-size: 12px;
}

.scroll-con {
    margin-top: 24px;
    position: relative;
}
.scroll {
    width: 100%;
    height: 7px;
    background-color: #f5f5f5;
}
.slide {
    position: absolute;
    top: 0;
    width: 35px;
    height: 7px;
    background-color: #b5b5b5;
}