<div class="container">
  <header>
    <div class="search">
      <i class="pi pi-search icon-search"></i>
      <input type="text" 
      placeholder="Search..." 
      [(ngModel)]="searchText"
      (input)="filterMembers()" />
    </div>
  </header>

  <div class="content">
    <div class="club-member">
      <div class="title">
        <h2>Club Members</h2>
        <p>({{activeMembers}} / {{totalMembers}})</p>
      </div>
      <div class="all-member">
        
        <div class="list-member" >
          <div class="member"  *ngFor="let list of filteredMembers" (click)="open(list)">
            <div class="image-profile"><img *ngIf="list.image" [src]="'http://localhost:3000' + list.image" alt="profile" /></div>
            <p>{{list.fullname}}</p>
          </div>
        </div>

        <!-- Scroll -->

        <!-- <div class="scroll-con">
                <div class="scroll"></div>
                <div class="slide"></div>
            </div> -->
      </div>
    </div>
  </div>
</div>

<app-card-checkin *ngIf="selectedMember"
[member]="selectedMember"
(close)="closePopup()"
(refresh)="load()">
></app-card-checkin>

