.container {
  max-width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
}

.status-badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
}

.status-badge.active {
  background-color: #C8E6C9;
  color: #256029;
}

.status-badge.inactive {
  background-color: #FFCDD2;
  color: #C63737;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* session */
.session-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}




.session-list {
  background-color: white;
  padding: 24px;
  border-radius: 15px;
}
.session-name {
  font-weight: bold;
  font-size: 1.1rem;
}

.session-date {
  font-size: 0.9rem;
  opacity: 0.9;
}
.btn-close-icon {
  color: red;
  font-size: 24px;
  cursor: pointer;
}
.selected-row {
  background: #dfffe2 !important;
  font-weight: bold;
}