<div class="overlay" >
  <div class="card-checkin">
 <button type="button" class="close" (click)="closePopup()">✕</button>

    <div class="active">
      <p>active</p>
    </div>

    <div class="con-input">

      <div class="box-input">
        <div class="input-name input">
          <label for="name" class="">Name</label>
           <div class="box">{{ member.fullname }}</div>
           
        </div>
        <div class="input-expiry input">
          <label for="expiry">Expiry</label>
          <input type="text" name="expiry" id="expiry" value="2025/8/5" readonly />
        </div>
      </div>

      <div class="image-profile">
        <img [src]="'http://localhost:3000' + member.image">
      </div>
    </div>

    <div class="checkin-grid">
  <div class="checkin-grid" *ngIf="card">
  <div
    class="circle"
    *ngFor="let c of checkinSlots; let i = index"
    [class.checked]="i < card.usedSessions"
    [class.next-queue]="i === card.usedSessions && !isExpired()"
    (click)="onCheckInClick(i)">
    
    <span *ngIf="i < card.usedSessions">✓</span>
    <span *ngIf="i === card.usedSessions">Check-in</span>
    <span *ngIf="i > card.usedSessions">{{ i + 1 }}</span>
  </div>
</div>
</div>
  </div>
</div>