.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-checkin {
    background-image: url('../../../../../public/bgCard.jpg');
    width: 600px;
    height: 725px;
    background-position: -510px -100px;
    background-size: 210%;
    color: white;
    box-shadow: 0 0 0px 8px #b5b5b5;
    position: relative;
}

.close {
  position: absolute;
  top: -50px;
  right: -10px;
  border: none;
  background: white;
  color: red;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.active {
    display: flex;
    justify-content: end;
    padding: 12px 20px;
}
.active p {
    color: #00ff29;
}
.con-input {
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
}
.input label {
    font-size: 14px;
    font-weight: 500;
}
input[type="text"] {
    width: 141px;
    height: 34px;
    margin-top: 3px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: 800;
    padding: 0 5px;
}
.box {
  background: white;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 140px;
}
.image-profile {
    width: 120px;
    height: 120px;
    margin-left: 65px;
}
.image-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


/* grid */
.checkin-grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-items: center;
}
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.circle.checked {
  background: #22c55e;
}
.circle span {
  color: #22c55e;
  font-size: 12px;
}