.sidebar {
    width: 239px;
    height: 100%;
    background-color: white;
    padding: 15px 15px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.top-sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    width: 100%;
}
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.icon-menu {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 40px;
}

nav a{
    font-size: 16px;
    color: #414141;
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
}
nav a:hover {
    background-color: #f1f1f1;
}
/* ACTIVE */
nav a.active {
  background: #293690;
  color: #fff;
}
.sign-out {
    cursor: pointer;
    width: 100%;
}
.sign-out a{
    color: #414141;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 13px;
}
.icon-signOut {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 40px;
}
.sign-out a:hover {
    color: red;
}