<div class="sidebar">
    
  <div class="top-sidebar">
    <div class="logo">
      <img src="logo.png" alt="logo" width="150px" height="150px" />
    </div>
    
    <div class="menu">
      <nav class="link">
        <a routerLink="/check-in"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        ><i class="pi pi-verified icon-menu"></i>Check-in</a>
        <a routerLink="/event" routerLinkActive="active"><i class="pi pi-calendar icon-menu"></i>Seasons</a>
        <a routerLink="/member"
         routerLinkActive="active"><i class="pi pi-user-plus icon-menu"></i>Members</a>
        <a routerLink="/session"
        routerLinkActive="active"><i class="pi pi-calendar-plus icon-menu"></i>Sessions</a>
        <a routerLink="/report"
        routerLinkActive="active"><i class="pi pi-chart-line icon-menu"></i>Report</a>
        <a routerLink="/setting"
        routerLinkActive="active"><i class="pi pi-cog icon-menu"></i>Setting</a>
      </nav>
    </div>
  </div>

  <div class="sign-out">
    <a routerLink="/admin-login"><i class="pi pi-sign-out icon-signOut"></i>Logout</a>
  </div>
</div>
