.container {
    background-color: var(--bg-body);
    max-width: 100%;
}


@media screen and (max-width: 440px) {
    .logo img {
        width: 150px;
        height: 150px;
    }
    .wrapper {
        width: 360px;
        height: 466px;
        padding: 20px;
    }
    .box-input {
        gap: 20px;
        margin-bottom: 50px;
    }
    .input-tel {
        width: 310px;
        height: 56px;
    }
    .btn-login {
        width: 310px;
    }
    .card-login-failed {
        width: 350px;
        height: 305px;
    }
    .card-login-failed p {
        font-size: 16px;
    }
}