<div class="container relative bg-[#f5f6fa] max-w-full min-h-screen flex flex-col">
  <header class="flex justify-end items-center p-6 hover:text-[#293690] w-full">
    <a routerLink="/user-login" class="text-lg sm:text-[20px] flex justify-center items-center">
      <p>user</p>
      <i class="pi pi-sign-out ml-2"></i>
    </a>
  </header>

  <main class="flex-grow flex justify-center items-center p-4">
    <div
      class="wrapper relative w-full max-w-[508px] min-h-[550px] sm:h-[594px] shadow-2xl rounded-3xl flex flex-col justify-between items-center bg-white p-6 sm:p-10"
    >
      <div class="logo-section flex flex-col items-center relative w-full">
        <img
          src="logo.png"
          alt="logo"
          class="w-[180px] h-[180px] sm:w-[250px] sm:h-[250px] object-contain"
        />
        <h2 class="absolute bottom-4 sm:bottom-8 text-2xl font-bold text-gray-800">Admin</h2>
      </div>

      <div
        class="box-input w-full flex flex-col justify-center items-center gap-6 sm:gap-8 mb-12 sm:mb-20"
      >
        <div class="input-password w-full max-w-[356px]">
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="password"
            (input)="onPasswordInput()"
            placeholder="Input password..."
            required
            class="border-[1px] border-[#1976d2] w-full h-[56px] p-4 focus:border-[2px] focus:border-[#1946d2] outline-none rounded-[4px]"
          />
        </div>

        <button
          type="submit"
          (click)="login()"
          class="btn-login rounded-[4px] text-white w-full max-w-[356px] h-[55px] hover:bg-[#0F68C0] active:scale-95 transition-all cursor-pointer text-center bg-[#1976d2] text-[15px] font-semibold"
        >
          LOGIN
        </button>

        <p *ngIf="error" class="text-red-500 text-center text-sm">{{ error }}</p>
      </div>
    </div>
  </main>

  <div
    *ngIf="showPopup"
    class="card-login-failed fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20 w-[90%] max-w-[400px] rounded-[30px] bg-white shadow-2xl py-8 px-6 flex flex-col justify-between items-center gap-6"
  >
    <div class="logo-failed text-center">
      <img src="failed.png" alt="failed" class="w-[83px] h-[83px] mx-auto" />
      <p class="text-[#f44336] text-2xl font-bold mt-2">Failed</p>
    </div>
    <p class="text-xl font-medium text-center">Password incorrect</p>
    <button
      (click)="closePopup()"
      class="rounded-2xl bg-[#f44336] w-full h-[48px] text-white font-bold text-xl active:opacity-80"
    >
      OK
    </button>
  </div>
</div>
